<app-viewer [options]="['SETTINGS', 'DATA']" selectedOption="SETTINGS" title="VEX">
  <div body-1 style="display: flex; gap: 15px; flex-direction: column;">
    <div>
      <div>Database:</div>
      <select [(ngModel)]="vexOptions.selectedDatabase">
        <option value=""></option>
        <option *ngFor="let option of vexOptions.databases" [value]="option">{{ option }}</option>
      </select>
    </div>
    <div>
      <div>Format:</div>
      <select [(ngModel)]="vexOptions.selectedFormat">
        <option value=""></option>
        <option *ngFor="let option of vexOptions.formats" [value]="option">{{ option }}</option>
      </select>
    </div>
    <div>
      <div>API Key:</div>
      <input [(ngModel)]="vexOptions.apiKey"
             [disabled]="!vexOptions.requiresAPIKey.includes(vexOptions.selectedDatabase)"/>
    </div>
    <app-button (click)="this.GenerateData()" text="Generate Data"/>
  </div>

  <div *ngIf="vex !== undefined && loading === false" body-2 style="width: 100%;">
    <app-accordion *ngIf="vex.vex" title="General Information">
      <div body>
        <div [innerHTML]="formatValue(removeStatements(vex.vex))"></div>
      </div>
    </app-accordion>
    <app-accordion *ngIf="vex.vex && vex.vex.vexstatements" title="Vex Statements">
      <div body>
        <ng-container *ngFor="let item of vex?.vex?.vexstatements | keyvalue">
          <app-accordion [title]="castAsAny(item.value).statementID">
            <div body>
              <app-accordion *ngFor="let vex of castAsAny(item.value) | keyvalue" [title]="castAsAny(vex.key)">
                <div [innerHTML]="formatValue(vex.value)" body>
                </div>
              </app-accordion>
            </div>
          </app-accordion>
        </ng-container>

        <div *ngIf="vex.vex.vexstatements.length === 0">
          None
        </div>
      </div>
    </app-accordion>
    <app-accordion *ngIf="vex.error" title="Errors">
      <div body>
        <div [innerHTML]="formatValue(vex.error)"></div>
      </div>
    </app-accordion>
    <div class="btn-download">
      <app-button (click)="downloadVex()" text="Download Report"/>
    </div>
  </div>

  <div *ngIf="vex === undefined && loading === false" body-2 style="margin:auto;">
    Press 'Generate Data' in settings to view data
  </div>

  <div *ngIf="loading === true" body-2 style="align-items: center; width: 100%;">
    <app-spinner height="64px" style="margin: auto;" width="64px"></app-spinner>
  </div>
</app-viewer>
