<div ngbAccordion>
  <div ngbAccordionItem>
    <!-- Accordion Header -->
    <h2 ngbAccordionHeader>
      <button class="accordion-header flex" ngbAccordionButton>
        <span>{{ title }}</span>
        <ng-content select="[title]"></ng-content>

        <div class="accordion-desc flex col">
          <div *ngFor="let item of extra">{{ item }}</div>
        </div>

        <ng-content select="[extra]"></ng-content>
      </button>
    </h2>

    <!-- Accordion Body -->
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <div
          *ngIf="color !== ''"
          [style.backgroundColor]="color"
          class="color-bar"
        ></div>

        <div class="content">
          <ng-content select="[body]"></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
