<div *ngIf="attributes" class="filters">
  <div class="title">
    Shown Conflicts
    <span (click)="accessibilityModal = true" class="material-symbols-outlined">
      <span class="material-symbols-outlined">
        settings_accessibility
      </span></span
    >
  </div>

  <!--filters -->
  <app-circle-toggle
    (click)="status.value.shown = !status.value.shown"
    *ngFor="let status of resultStatus | keyvalue"
    [color]="status.value.color"
    [toggle]="status.value.shown"
  >{{ status.key }}
  </app-circle-toggle
  >
</div>

<app-modal (close)="accessibilityModal = false" [opened]="accessibilityModal">
  <div title>Accessibility Settings</div>
  <div class="palettes" content>
    <div>Test Color Palette:</div>
    <div *ngFor="let palette of palettes | keyvalue">
      <input
        (click)="selectPalette(palette.key)"
        [checked]="selectedPalette === palette.key"
        [value]="palette.key"
        type="radio"
      />{{ palette.key | titlecase }}
    </div>
  </div>
  <div actions style="display: flex; gap: 15px">
    <div
      (click)="accessibilityModal = false"
      class="btn-modal button flex center hover"
    >
      <span (click)="setPalette()">done</span>
    </div>
  </div>
</app-modal>
