.compare-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
}

.body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 16px;
}

.header {
  width: 100%;
  height: 75px;
  background-color: var(--primary);
  color: white;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 16px 16px 0 0;
}

.option {
  cursor: pointer;
}

#selected {
  color: white;
}

.content {
  height: 100%;
  padding: 10px;
  word-break: break-word;
  overflow-y: scroll;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  min-width: 400px;
}

.button-container {
  margin-top: 20px;
}
