<div [style]="collapsed ? 'width: 0%; padding: 0;' : ''" class="upload-container slide-up">
  <h3 [style]="collapsed ? 'display: none' : ''">SBOM Files</h3>
  <div *ngIf="GetAllFiles().length > 0" class="search-parent-container">
    <div [style]="collapsed ? 'display: none' : ''" class="search-container">
      <input (input)="UpdateSearch($event)" name="search" placeholder="Search.." type="text">
      <button (click)="ClearSearch()" [ngClass]="filterSearch ? '' : 'hide'"><i
        class="search-btn material-symbols-outlined">clear</i></button>
      <button><i class="search-btn material-symbols-outlined">Search</i></button>
    </div>
    <div [style]="collapsed ? 'display: none' : ''" class="format-filter">
      <app-multiselect-dropdown (checkboxChange)="SbomFormatFilterChange($event)" [options]="GetSBOMFormat()"
                                title="Filter Formats">
      </app-multiselect-dropdown>
    </div>
  </div>
  <div *ngIf="GetAllFiles().length > 0" [style]="collapsed ? 'display: none' : ''" class="file-name flex">
    <div class="flex" style="width: 30%; min-width: 200px;">
      <input (change)="setAllSelected($event)" type="checkbox" value="null"/>
      <h3 (click)="UpdateSort('NAME')">File Name {{ sortingOptions['NAME'] ? '▴' : '▾' }}</h3>
    </div>
    <h3 (click)="UpdateSort('FORMAT')">Format {{ sortingOptions['FORMAT'] ? '▴' : '▾' }}</h3>
  </div>

  <div (dragleave)="onDragLeave($event)" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)"
       *ngIf="GetAllFiles().length > 0"
       [style]="collapsed ? 'display: none' : ''" class="files-container">
    <ng-container *ngFor="let item of GetSBOMsOfType('VALID'); let i = index">
      <div class="altColors">
        <div *ngIf="(getAlias(item)?.includes(GetFilter()) || item?.toString()?.includes(GetFilter())) && ValidSBOMFormat(item)">
          <div class="sbom-row flex">
            <div class="sbom" (dblclick)="ViewSBOM(item)">
              <input type="checkbox" [value]="item" class="sbom-checkbox" />
              <app-menu text="{{ getAlias(item) }}" [data]="item" style="width: 90%" title="{{ getAlias(item) }}"></app-menu>
            </div>
            <div class="sbom-view">
              {{ GetSBOMInfo(item).format }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngFor="let item of GetSBOMsOfType('ERROR'); let i = index"
                  [style]="collapsed ? 'display: none' : ''">
      <div *ngIf="getAlias(item)?.includes(GetFilter())">
        <div class="sbom" style="color: var(--red);">
          <input [checked]="checkboxes[i]" [value]="item" class="sbom-checkbox" type="checkbox"/>
          <span ngbTooltip="SBOM is not valid!">
            <app-menu [data]="item" style="width: 100%" text="{{ getAlias(item) }}"></app-menu>
          </span>
        </div>
      </div>
    </ng-container>

    <div *ngFor="let item of GetSBOMsOfType('LOADING')" [style]="collapsed ? 'display: none' : ''">
      <div class="sbom" style="color: var(--accent); width: 95%;">
        <app-spinner class="spinner"></app-spinner>
        <span class="spinner-text">{{ getAlias(item) }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="GetAllFiles().length > 0" [style]="collapsed ? 'display: none' : ''" class="buttons flex">
    <div class="flex buttons">
      <app-button (click)="GetSelected().length >= 1 ? deleteModal = true : sbomsRequiredMessage(1, true)"
                  icon="delete"></app-button>
      <app-button (click)="DownloadSelected()" icon="download">download</app-button>
    </div>
    <app-button (click)="generateModal = true" text="Generate"/>
    <app-button (click)="GetSelected().length >= 2 ? compareModal = true : sbomsRequiredMessage(2, true)"
                text="Compare"/>
    <app-button (click)="GetSelected().length === 1 ? openConvert() : sbomsRequiredMessage(1, false)" text="Convert"/>
    <app-button (click)="GetSelected().length === 1 ? SetPageIfOneSelected(3) : sbomsRequiredMessage(1, false)"
                text="Vex"/>
    <app-button (click)="GetSelected().length === 1 ?  gradeSBOM() : sbomsRequiredMessage(1, false)" text="Grade"/>
    <app-button (click)="GetSelected().length >= 2 ? merge() : sbomsRequiredMessage(2, true)" text="Merge"/>
  </div>

  <div (dragleave)="onDragLeave($event)" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)"
       *ngIf="GetAllFiles().length === 0"
       [style]="collapsed ? 'display: none' : ''" class="file-dropzone">
    <div class="scale-in flex col center">
      <span class="material-symbols-outlined">publish</span>
      <hr>
      <p class="text-center">Drag and drop SBOMS</p>
      <app-button (click)="browse()" text="Select Files"></app-button>
    </div>
  </div>

  <div (dragleave)="onDragLeave($event)" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)"
       *ngIf="GetAllFiles().length > 0"
       [style]="collapsed ? 'display: none' : ''" class="generate-dropzone">
    <app-toggle></app-toggle>
  </div>

  <div (dragleave)="onDragLeave($event)" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)"
       *ngIf="GetAllFiles().length === 0"
       [style]="collapsed ? 'display: none' : ''" class="generate-dropzone">
    <div class="scale-in flex col center">
      <app-button (click)="uploadProject()" text="Generate"/>
      <p class="text-center">or drag project directory in here</p>
    </div>
  </div>

  <div (click)="collapsed = !collapsed" class="toggle-files">
    <div class="text">
      Collapse
    </div>
  </div>
</div>

<app-generate-modal (close)="generateModal = false" [opened]="generateModal"/>
<app-compare-modal (close)="compareModal = false" [opened]="compareModal"/>
<app-convert-modal (close)="convertModal = false" [choices]="this.convertChoices" [opened]="convertModal"/>
<app-delete-modal (close)="deleteModal = false" [opened]="deleteModal"/>
<app-merge-modal (close)="mergeModal = false" [opened]="mergeModal" [sboms]="GetSelected()"/>

<app-toaster/>
