<div class="upload-container slide-up"  [style]="collapsed ? 'width: 0%; padding: 0;' : ''">
  <h3 [style]="collapsed ? 'display: none' : ''">SBOM Files</h3>
  <div class="search-parent-container" *ngIf="GetAllFiles().length > 0">
    <div class="search-container" [style]="collapsed ? 'display: none' : ''">
      <input type="text" placeholder="Search.." name="search" (input)="UpdateSearch($event)">
      <button (click)="ClearSearch()" [ngClass]="filterSearch ? '' : 'hide'"><i
          class="search-btn material-symbols-outlined">clear</i></button>
      <button><i class="search-btn material-symbols-outlined">Search</i></button>
    </div>
    <div class="format-filter"  [style]="collapsed ? 'display: none' : ''">
      <app-multiselect-dropdown title="Filter Formats" [options]="GetSBOMFormat()"
        (checkboxChange)="SbomFormatFilterChange($event)">
      </app-multiselect-dropdown>
    </div>
  </div>
  <div class="file-name flex" *ngIf="GetAllFiles().length > 0"  [style]="collapsed ? 'display: none' : ''">
    <div class="flex" style="width: 30%; min-width: 200px;">
      <input type="checkbox" (change)="setAllSelected($event)" value="null" />
      <h3 (click)="UpdateSort('NAME')">File Name {{sortingOptions['NAME'] ? '▴' : '▾'}}</h3>
    </div>
    <h3 (click)="UpdateSort('FORMAT')">Format {{sortingOptions['FORMAT'] ? '▴' : '▾'}}</h3>
  </div>

  <div class="files-container" *ngIf="GetAllFiles().length > 0" (drop)="onFileDrop($event)"  [style]="collapsed ? 'display: none' : ''"
    (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
    <ng-container *ngFor="let item of GetSBOMsOfType('VALID'); let i = index">
      <div class="altColors">
        <div *ngIf="(getAlias(item)?.includes(GetFilter()) || item?.toString()?.includes(GetFilter())) && ValidSBOMFormat(item)">
          <div class="sbom-row flex">
            <div class="sbom" (dblclick)="ViewSBOM(item)">
              <input type="checkbox" [value]="item" class="sbom-checkbox" />
              <app-menu text="{{ getAlias(item) }}" [data]="item" style="width: 90%" title="{{ getAlias(item) }}"></app-menu>
            </div>
            <div class="sbom-view">
              {{GetSBOMInfo(item).format}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngFor="let item of GetSBOMsOfType('ERROR'); let i = index"  [style]="collapsed ? 'display: none' : ''">
      <div *ngIf="getAlias(item)?.includes(GetFilter())">
        <div class="sbom-row sbom-error">
          <div class="sbom">
            <input type="checkbox" [value]="item" class="sbom-checkbox" [checked]="checkboxes[i]" />
            <span ngbTooltip="SBOM is not valid!" style="flex: 1;">
              <app-menu text="{{ getAlias(item) }}" [data]="item" style="width: 100%"></app-menu>
            </span>
          </div>
          <div class="sbom-view">
            <span class="badge badge-error">Invalid</span>
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngFor="let item of GetSBOMsOfType('LOADING')"  [style]="collapsed ? 'display: none' : ''">
      <div class="sbom" style="color: var(--accent); width: 95%;">
        <app-spinner class="spinner"></app-spinner>
        <span class="spinner-text">{{ getAlias(item) }}</span>
      </div>
    </div>
  </div>

  <div class="buttons flex" *ngIf="GetAllFiles().length > 0"  [style]="collapsed ? 'display: none' : ''">
    <app-button text="Upload" (click)="browse()"/>
    <app-button icon="delete" (click)="GetSelected().length >= 1 ? deleteModal = true : sbomsRequiredMessage(1, true)"></app-button>
    <app-button icon="download" (click)="DownloadSelected()">download</app-button>
    <app-button text="Generate" (click)="generateModal = true"/>
    <app-button text="Compare" (click)="GetSelected().length >= 2 ? compareModal = true : sbomsRequiredMessage(2, true)"/>
    <app-button text="Convert" (click)="GetSelected().length === 1 ? openConvert() : sbomsRequiredMessage(1, false)"/>
    <app-button text="Vex" (click)="GetSelected().length === 1 ? SetPageIfOneSelected(3) : sbomsRequiredMessage(1, false)"/>
    <app-button text="Grade" (click)="GetSelected().length === 1 ?  gradeSBOM() : sbomsRequiredMessage(1, false)"/>
    <app-button text="Security" (click)="openSecurityDashboard()"/>
    <app-button text="Merge" (click)="GetSelected().length >= 2 ? merge() : sbomsRequiredMessage(2, true)"/>
  </div>

  <div class="file-dropzone" *ngIf="GetAllFiles().length === 0" (drop)="onFileDrop($event)"  [style]="collapsed ? 'display: none' : ''"
    (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
    <div class="scale-in flex col center">
      <span class="material-symbols-outlined">publish</span>
      <hr>
      <p class="text-center">Drag and drop SBOMS</p>
      <app-button text="Select Files" (click)="browse()"></app-button>
    </div>
  </div>

  <div class="generate-dropzone" *ngIf="GetAllFiles().length > 0" (drop)="onFileDrop($event)"  [style]="collapsed ? 'display: none' : ''"
    (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
    <app-toggle></app-toggle>
  </div>

  <div class="generate-dropzone" *ngIf="GetAllFiles().length === 0" (drop)="onFileDrop($event)"  [style]="collapsed ? 'display: none' : ''"
    (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
    <div class="scale-in flex col center">
      <app-button text="Generate" (click)="uploadProject()" />
      <p class="text-center">or drag project directory in here</p>
    </div>
  </div>

  <div class="toggle-files" (click)="collapsed = !collapsed">
    <div class="text">
      Collapse
    </div>
  </div>
</div>

<app-generate-modal [opened] = "generateModal" (close)="generateModal = false"/>
<app-compare-modal [opened] = "compareModal" (close)="compareModal = false"/>
<app-convert-modal [opened] = "convertModal" (close)="convertModal = false" [choices]="this.convertChoices"/>
<app-delete-modal [opened] = "deleteModal" (close)="deleteModal = false"/>
<app-merge-modal [opened] = "mergeModal" (close)="mergeModal = false" [sboms]="GetSelected()"/>

<app-toaster/>
