<div class="col menu">
  <div #myDrop="ngbDropdown" ngbDropdown>
		<span (contextmenu)="myDrop.open()" [ngClass]="{'hoverable': sbomValid}" class="dropdown" ngbDropdownAnchor>
			<div class="sbom-view">
				{{ text }}
			</div>
		</span>
    <div aria-labelledby="dropdownBasic2" ngbDropdownMenu>
      <button (click)="openDeleteModal()" ngbDropdownItem>Delete</button>
      <button (click)="DownloadOne()" *ngIf="sbomValid" class="error" ngbDropdownItem>Download</button>
      <button (click)="ViewOne()" *ngIf="sbomValid" class="error" ngbDropdownItem>View</button>
    </div>
  </div>
</div>

<app-modal (close)="Close()" [opened]="opened">
  <div title>
    Delete Selected
  </div>
  <div content>
    Are you sure you want to delete the selected files?
  </div>
  <div actions style=" display: flex; gap: 15px;">
    <div (click)="RemoveFile()" class="btn-modal button flex center hover">
      <span>Delete</span>
    </div>
    <div (click)="Close()" class="btn-modal button flex center hover">
      <span>Cancel</span>
    </div>
  </div>
</app-modal>
