<app-modal (close)="Close()" [opened]="opened">
  <div title>
    Compare Selected
  </div>
  <div content style="display: flex; gap: 15px; flex-direction: column;">
    <div>
      <div>Select Target:</div>
      <select [(ngModel)]="compareTarget">
        <option value=""></option>
        <option *ngFor="let option of GetSelected()" [value]="option">{{ this.getAlias(option) }}</option>
      </select>
    </div>
  </div>
  <div actions style=" display: flex; gap: 15px;">
    <div (click)="CompareSelected()" class="btn-modal button flex center hover">
      <span>Compare</span>
    </div>
    <div (click)="Close()" class="btn-modal button flex center hover">
      <span>Cancel</span>
    </div>
  </div>
</app-modal>
